{% extends "base.html" %}

{% block title %}
สร้างกิจกรรม
{% endblock %}

{% block content %}

<div class="title">
แบบฟอร์มลงทะเบียนกิจกรรม
</div>

<div class="card">

<div class="card-title">
1. รายละเอียดการลงทะเบียน
</div>

<label>ชื่อกิจกรรม</label>
<textarea placeholder="ชื่อกิจกรรม"></textarea>

<label>ผู้จัดข้อมูล</label>
<input placeholder="นายกอ โอ้">

</div>


<div class="card">

<div class="card-title">
2. วัน เวลา ที่ประสงค์สมัคร
</div>

<div class="row">

<div>
<label>วันที่</label>
<input type="date">
</div>

<div>
<label>เวลา</label>
<input type="time">
</div>

</div>

</div>


<div class="card">

<div class="card-title">
3. ชื่อกิจกรรม
</div>

<label>โปรดกรอกชื่อกิจกรรม</label>
<input placeholder="ชื่ออะไรก็ได้">

</div>

{% endblock %}