#activity_register.html
{% extends "base.html" %}

{% block title %}
ลงทะเบียนเข้าร่วมกิจกรรม
{% endblock %}

{% block content %}

<div class="title">
ลงทะเบียนเข้าร่วมกิจกรรม
</div>

<div class="card">

<div class="card-title">
แบบฟอร์มลงทะเบียน
</div>

<form method="POST">

<label>ชื่อ-สกุล</label>
<input 
    type="text"
    name="fullname"
    placeholder="กรอกชื่อ-สกุล"
    required
>

<label>รหัสนักศึกษา</label>
<input 
    type="text"
    name="student_id"
    placeholder="กรอกรหัสนักศึกษา"
    required
>

<div class="total">
ผู้ลงทะเบียนทั้งหมด : {{ count }} คน
</div>

<div style="margin-top:20px; display:flex; gap:10px;">

    <button type="submit" class="btn">
        บันทึก
    </button>

    <a href="{{ url_for('activity_list') }}">
        <button type="button" class="btn">
            ดูรายชื่อผู้สมัคร
        </button>
    </a>

</div>

</form>

<div style="clear:both;"></div>

</div>

{% endblock %}