<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>

    <link rel="stylesheet"
          href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>

<div class="header">

    <div class="header-title">
        <div class="th">คณะวิทยาศาสตร์</div>
        <div class="en">Faculty of Science</div>
    </div>

    <div class="menu">
        <div></div>
        <div></div>
        <div></div>
    </div>

</div>

<div class="main">

{% block content %}
{% endblock %}

</div>

</body>
</html>